<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <title>EDIT STAGE</title>
</head>

<body class="stageEdit">
    <nav class="StageEditNav">
        <a href="/">HOME</a>
        <a href="/stages">STAGES</a>
        <a href="?????????????">MERCH</a>
    </nav>
    <header>
        <h1>
            Editing <%= stages.stageName %>
        </h1>
    </header>

    <section class="stageEditSection">
        <form class="stageEditForm" action="/stages/<%= stages._id %>?_method=PUT" method="POST">

            STAGE NAME: <input class="editName" type="text" name="djName" placeholder="<%= stages.stageName %> ">

            ARTISTS PLAYING AT THIS STAGE: <input class="editGenre" type="text" name="genre"
                placeholder="<%= stages.artistsPlaying %> ">


            <input class="StagesEditUpdateButton" type="submit" value="Update <%= stages.stageName %>">
        </form>
    </section>
</body>

</html>