<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <title>The Stages</title>
</head>

<body class="stagesShowBody">
    <header>
        <h1>
            Welcome to <%= stages.stageName %>
        </h1>
    </header>

    <nav class="stagesShowNav">
        <a href="/">HOME</a>
        <a href="/stages">ALL STAGES</a>
    </nav>

    <section class="stageShowInfo">
        <h2>
            ABOUT THE STAGE
        </h2>

        <h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil necessitatibus dolorem facilis libero
            deserunt cumque qui nemo numquam voluptatibus ea harum, optio distinctio quae dignissimos soluta facere in
            autem quasi?
            Similique doloremque unde atque a nostrum, quae repellendus nam id accusantium animi iure eos odio
            consequuntur corporis laudantium vel assumenda sint! Enim assumenda maiores recusandae laudantium nulla sed
            esse aut?
            Officia expedita obcaecati culpa atque provident iure velit magni, vitae dolorem perferendis assumenda,
            dolores eligendi modi voluptatum! Voluptas officiis similique deserunt quod totam cupiditate impedit
            voluptatibus ipsum! Possimus, dolor quaerat?
        </h3>
    </section>

    <section class="artistsPlaying">
        <h3>List of Artists playing at this stage: </h3>

        <ul>
            <ul>
                <% stages.artists.forEach(artist=> { %>
                    <li>
                        <a href="/artists/<%= artist._id %>">
                            <%= artist.djName %>
                        </a>
                    </li>
                    <% }) %>
            </ul>

        </ul>
    </section>

    <section class="stagesEditDelete">
        <a href="/stages/<%= stages._id %>/edit">EDIT STAGE</a>
        <form action="/stages/<%= stages._id %>?_method=DELETE" method="POST">
            <input class="deleteStage" type="submit" value="Delete" />
        </form>
    </section>
</body>

</html>