<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <title>About the Artist</title>
</head>

<body class="artistShow">
    <header>
        <h1> Meet the Artist </h1>
    </header>

    <nav class="artistShowNav">
        <a href="/">HOME</a>
        <a href="/artists">ALL ARTISTS</a>
    </nav>


    <section class="artistShowInfo">
        <h2>
            NAME: <%= artists.djName %>
        </h2>

        <h4>
            GENRE: <%=artists.genre%>
        </h4>

        <h4>
            TOP HITS: <%= artists.topHits %>
        </h4>

        <h4>
            PLAYING AT:

            <%= artists.stage.stageName %>


        </h4>
    </section>
    <section class="aritstEditDelete">
        <a href="/artists/<%= artists._id %>/edit">Edit Artist</a>
        <form action="/artists/<%= artists._id %>?_method=DELETE" method="POST">
            <input class="deleteArtist" type="submit" value="Delete" />
        </form>
    </section>

</body>

</html>