<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Artist</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/artists">Back to all Artists</a>
    </nav>

    <header>
        <h1> Meet the Artist </h1>
    </header>

    <section>
        <h2>
            Name: <%= artists.djName %>
        </h2>

        <h4>
            Genre: <%=artists.genre%>
        </h4>

        <h4>
            Top hits: <%= artists.topHits %>
        </h4>

        <h4>
            Playing at:
            <%= artists.stage %>
        </h4>
    </section>
    <section>
        <a href="/artists/<%= artists._id %>/edit">Edit Artists</a>
        <form action="/artists/<%= artists._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form>
    </section>

</body>

</html>